<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Subtask</title>
</head>
<body>
<div  id="language" class="d-flex justify-content-end">
    <button class="btn btn-primary mr-2">NL</button>
    <button class="btn btn-primary">EN</button>
</div>
<form method="post" th:action="${'/tasks/sub/create'}" th:object="${task}">
    <h4 th:text="${'Add subtask to Task: ' + task.name}"></h4>
    <div>
        <label for="name">Name: </label>
        <input type="text" th:field="*{name}">
    </div>
    <div>
        <label for="description">Description: </label>
        <input type="text" th:field="*{description}">
    </div>
    <input type="hidden" name="id" th:value="${task.id}">
    <input type="submit" value="Add Subtask">
</form>
<script src="switch.js"></script>

</body>
</html>
