<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Task</title>
</head>
<body>
    <form method="post" action="/task/new">
        <h4>Add restaurant</h4>
        <div>
            <label for="name">Name: </label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="description">Description: </label>
            <input type="text" name="description" id="description">
        </div>
        <div>
            <label for="dueDate">Due Date: </label>
            <input type="date" name="dueDate" id="dueDate">
        </div>
        <input type="submit" value="Add Task">
    </form>
</body>
</html>